# git
.gitconfig

# qtcreator
*.autosave
*.pro.user
*.pro.user.*
CMakeLists.txt.user

# Qt linguist tools
*.qm

# c, c++
*.so
*.o
a.out

# documentation (doxygen)
doc/html/*
doc/latex/*

# vim
.*.swp
.*.swo

# other
.trash/*
